<div class="article-card">
  <%= image_tag article.image, class: 'article-hor-img' %>
  <div class="article-body art-body-hor">
    <div class="article-title vert-2-lines"><h2><%= article.title %></h2></div>
    <div class="article-description vert-3-lines"><%= article.description %></div>
    <div class="article-card-footer">
      <p class="article-source"><%= article.source %></p>
      <p class="article-reading-time"><%= article.reading_time %>min</p>
    </div>
  </div>
  <%= link_to '', article_path(article), class: 'card-link'  %>
</div>
