<div class="nav-container">
  <div class="navbar-pr">
    <%= link_to 'Preszle', articles_path, class: 'brand' %>
    <div class="navbar-icons">
      <i class="fa-regular fa-clock" id="readtime"></i>
      <%= link_to '', my_interests_path, class:'fa-solid fa-binoculars text-white' %>
      <i class="fa-solid fa-list" id="readlists"></i>
      <%= link_to '', dashboard_path, class: "fa-solid fa-user-pen text-white"%>
    </div>
  </div>
  <div class="navbar-sec rt-nav d-none" id="readtime-navbar">
    <div class="text-block">Readtime</div>
    <div class="slider-container">
      <input type="range" class="slider" id="slider" min="0" max="30"
      value="<%= current_user.readtime %>">
    </div>
    <div class="text-block"><span id="value"></span> min</div>
  </div>
  <div class="navbar-sec int-nav d-none" id="interests-navbar">
    <p><%= link_to 'Change interests', my_interests_path, class: "text-white"%></p>
  </div>
    <div class="navbar-sec int-nav d-none" id="dashboard-navbar">
    <p><%= link_to 'Go to dashboard', dashboard_path, class: "text-white"%></p>
  </div>
 </div>
