<div class="nav-container">
  <div class="navbar-pr">
    <%= link_to 'Preszle', articles_path, class: 'brand' %>
    <div class="navbar-icons">
      <i class="fa-regular fa-clock" id="readtime"></i>
      <%= link_to '', my_interests_path, class:'fa-solid fa-binoculars text-white', id:'interests' %>
      <%= link_to '', lists_path, class:'fa-solid fa-list text-white', id:'readlists' %>
      <%= link_to '', dashboard_path, class: 'fa-solid fa-user-pen text-white', id:'dashboard' %>
    </div>
  </div>
  <div class="navbar-sec rt-nav d-none" id="readtime-navbar">
    <form class="form-flex" action="readtime" method="post">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <div class="text-block"> <i class="far fa-clock"></i>Readtime</div>
      <input type="range" class="slider" name="readtime" id="slider" min="0" max="15" step="1" value="<%= current_user.readtime %>">
      <button type="submit" class="btn-info btn-form"><span id="value"></span> min</button>
    </form>
  </div>
  <div class="navbar-sec int-nav d-none" id="interests-navbar">
    <p><%= link_to 'Change interests', my_interests_path, class: "text-white"%></p>
  </div>
  <div class="navbar-sec int-nav d-none" id="dashboard-navbar">
    <p><%= link_to 'Go to dashboard', dashboard_path, class: "text-white"%></p>
  </div>
 </div>
