<div class="navbar-pr">
  <%= link_to 'Preszle', articles_path, class: 'brand' %>
  <div class="navbar-icons">
    <%= link_to '', articles_path, class: 'fa-regular fa-clock' %>
    <%= link_to '', articles_path, class: 'fa-solid fa-binoculars' %>
    <%= link_to '', articles_path, class: 'fa-solid fa-list' %>
    <%= link_to '', dashboard_path, class: 'fa-solid fa-user-pen' %>
  </div>
</div>
